<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>xriva@fo.bet</string>
	<key>contactName</key>
	<string>Kevin Ballard</string>
	<key>description</key>
	<string>&lt;a href="http://unspace.ca/discover/haml"&gt;HTML Abstraction Markup Language&lt;/a&gt; is a templating engine for Ruby on Rails.</string>
	<key>name</key>
	<string> Alt Ruby Haml</string>
	<key>ordering</key>
	<array>
		<string>A8EDA40E-7A82-419A-A16F-E6E3EB712454</string>
		<string>D806F7E6-BA88-4608-9E22-6CCEE378DE41</string>
		<string>E78F9FA6-18E2-45D4-8338-C6CF59F6C140</string>
	</array>
	<key>uuid</key>
	<string>E0832D69-3C19-45A1-A830-265677AA1E0A</string>
</dict>
</plist>
