<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>FCA155A7-75F4-4297-8B8F-406E745709D8</string>
			<string>3890DE35-C666-4A4F-895C-EA9602DE73E8</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>11DBBF76-3428-4435-BCA3-A28706A4EEEC</key>
			<dict>
				<key>items</key>
				<array>
					<string>6A3753C8-91E8-42FB-B6DF-328CD795DC33</string>
					<string>7E0C821C-1580-4B13-B936-09C059F97D22</string>
					<string>3B166D8A-6B06-4259-BF88-54D0A2DA3E55</string>
					<string>A7DB2374-D35E-45E3-B4B4-2571DF62F285</string>
					<string>------------------------------------</string>
					<string>2CF41847-33CC-4FA3-B96A-EFD9BEDDE7F2</string>
					<string>7EB0FFBF-7984-4409-B245-C0DCA761DA4C</string>
				</array>
				<key>name</key>
				<string>Common</string>
			</dict>
			<key>3890DE35-C666-4A4F-895C-EA9602DE73E8</key>
			<dict>
				<key>items</key>
				<array>
					<string>11DBBF76-3428-4435-BCA3-A28706A4EEEC</string>
					<string>3D0E6D8F-65E0-4E01-9402-D836ECDC464A</string>
					<string>78290278-EE89-42F7-B7DC-79B303F1CA5E</string>
				</array>
				<key>name</key>
				<string>Limonade</string>
			</dict>
			<key>3D0E6D8F-65E0-4E01-9402-D836ECDC464A</key>
			<dict>
				<key>items</key>
				<array>
					<string>8036BA20-5B33-4FEC-B469-4E50E1A0595D</string>
				</array>
				<key>name</key>
				<string>Archived</string>
			</dict>
			<key>78290278-EE89-42F7-B7DC-79B303F1CA5E</key>
			<dict>
				<key>items</key>
				<array/>
				<key>name</key>
				<string>Dev</string>
			</dict>
			<key>8036BA20-5B33-4FEC-B469-4E50E1A0595D</key>
			<dict>
				<key>items</key>
				<array>
					<string>36F2AC7C-2EA1-4879-9930-728A363D12A1</string>
					<string>1B0FEE64-AE47-4024-A06E-87667672205E</string>
					<string>FD1128EC-F925-464F-B731-A30E4586668A</string>
					<string>------------------------------------</string>
					<string>AFAD2799-7106-4CB1-9B26-7BBBF5B11B68</string>
					<string>DB5644CD-A130-4514-80D5-70A100685119</string>
					<string>------------------------------------</string>
					<string>8E58C03D-FEBE-4A09-8C91-627746D2F8F8</string>
					<string>5E6D7A3C-59F3-4F51-AA72-E56643213AA9</string>
					<string>C6D17A37-9FEB-4AF6-B4B3-73FF4B3601F8</string>
					<string>DA5DAD41-4172-41A2-B25C-95AE508D3D96</string>
				</array>
				<key>name</key>
				<string>Functions</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string> Alt PHP-Snippets</string>
	<key>ordering</key>
	<array>
		<string>6A3753C8-91E8-42FB-B6DF-328CD795DC33</string>
		<string>7E0C821C-1580-4B13-B936-09C059F97D22</string>
		<string>3B166D8A-6B06-4259-BF88-54D0A2DA3E55</string>
		<string>A7DB2374-D35E-45E3-B4B4-2571DF62F285</string>
		<string>2CF41847-33CC-4FA3-B96A-EFD9BEDDE7F2</string>
		<string>7EB0FFBF-7984-4409-B245-C0DCA761DA4C</string>
		<string>FCA155A7-75F4-4297-8B8F-406E745709D8</string>
		<string>1B0FEE64-AE47-4024-A06E-87667672205E</string>
		<string>36F2AC7C-2EA1-4879-9930-728A363D12A1</string>
		<string>FD1128EC-F925-464F-B731-A30E4586668A</string>
		<string>8E58C03D-FEBE-4A09-8C91-627746D2F8F8</string>
		<string>AFAD2799-7106-4CB1-9B26-7BBBF5B11B68</string>
		<string>DB5644CD-A130-4514-80D5-70A100685119</string>
		<string>5E6D7A3C-59F3-4F51-AA72-E56643213AA9</string>
		<string>C6D17A37-9FEB-4AF6-B4B3-73FF4B3601F8</string>
		<string>DA5DAD41-4172-41A2-B25C-95AE508D3D96</string>
	</array>
	<key>uuid</key>
	<string>AB8B852F-4EBC-445A-AD11-8F6D58B18250</string>
</dict>
</plist>
