<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>boyvivbhf@fhogyrTenqvrag.pbz</string>
	<key>contactName</key>
	<string>Thomas Aylott</string>
	<key>deleted</key>
	<array>
		<string>0FE55436-0C29-4545-A3BE-B858EF81E27B</string>
	</array>
	<key>description</key>
	<string>Support for &lt;a href="http://developer.mozilla.org/en/docs/About_JavaScript"&gt;JavaScript&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>D2E6A1FE-2881-4754-B399-B65F61F29C2F</string>
			<string>43F40EB6-5839-4BE8-99C8-4976D0534E5D</string>
			<string>52090C49-D8B2-49A0-9597-80574354B3CD</string>
			<string>------------------------------------</string>
			<string>24DE1761-6D88-450D-9E75-54E198ABFE98</string>
			<string>------------------------------------</string>
			<string>B3891D49-3DA8-4277-8A0E-33B33B9833EE</string>
			<string>AA0CDF79-04EA-4649-A419-264BC64AFF60</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>43F40EB6-5839-4BE8-99C8-4976D0534E5D</key>
			<dict>
				<key>items</key>
				<array>
					<string>18E0385F-02E7-4DAC-8409-065DAE3348F1</string>
				</array>
				<key>name</key>
				<string>DOM</string>
			</dict>
			<key>52090C49-D8B2-49A0-9597-80574354B3CD</key>
			<dict>
				<key>items</key>
				<array>
					<string>940BF8A0-43CD-413A-89D8-8973CB20A598</string>
				</array>
				<key>name</key>
				<string>BOM</string>
			</dict>
			<key>66778C58-CE08-4F21-AD36-562149AEEE80</key>
			<dict>
				<key>items</key>
				<array>
					<string>FCAD4DAE-1CFA-421B-9510-53AE8C0811F6</string>
					<string>1C84CF0A-C61F-48CA-8650-52F8D6AE81AE</string>
					<string>------------------------------------</string>
					<string>D2813017-BFE1-4A99-8F37-5F2175FCE679</string>
					<string>56048715-37B4-42A4-B9E2-CA9D626BCA2D</string>
					<string>------------------------------------</string>
					<string>9A1EA8D8-376F-4226-A4FA-770995B40A39</string>
					<string>14318A9D-41CD-467F-9979-CD8FEACE68C8</string>
				</array>
				<key>name</key>
				<string>Function</string>
			</dict>
			<key>7699AC1A-80AC-4120-A375-9371D1591F79</key>
			<dict>
				<key>items</key>
				<array>
					<string>6641C4F0-22FD-409D-9A37-DEC600FB258A</string>
					<string>232AB828-1918-4F48-B525-8EEE77B61F12</string>
					<string>------------------------------------</string>
					<string>D7D81ACC-0623-49B6-87A7-5895C216F576</string>
					<string>A1174D60-F752-43B9-89FC-D0A0224A8BF5</string>
				</array>
				<key>name</key>
				<string>Control</string>
			</dict>
			<key>D2E6A1FE-2881-4754-B399-B65F61F29C2F</key>
			<dict>
				<key>items</key>
				<array>
					<string>7699AC1A-80AC-4120-A375-9371D1591F79</string>
					<string>EC690F46-1906-4F55-9089-3C2929D5BB69</string>
					<string>66778C58-CE08-4F21-AD36-562149AEEE80</string>
				</array>
				<key>name</key>
				<string>Core</string>
			</dict>
			<key>EC690F46-1906-4F55-9089-3C2929D5BB69</key>
			<dict>
				<key>items</key>
				<array>
					<string>C1922D29-1DE2-4D7D-8125-C43FAC1C8864</string>
					<string>E9FC2A41-39AD-4EE9-8C26-91ADBFE7551F</string>
					<string>------------------------------------</string>
					<string>EB0B5E24-8339-4217-974B-5D16F596AC39</string>
				</array>
				<key>name</key>
				<string>Language</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string> Alt JavaScript</string>
	<key>ordering</key>
	<array>
		<string>D2813017-BFE1-4A99-8F37-5F2175FCE679</string>
		<string>56048715-37B4-42A4-B9E2-CA9D626BCA2D</string>
		<string>24DE1761-6D88-450D-9E75-54E198ABFE98</string>
		<string>B3891D49-3DA8-4277-8A0E-33B33B9833EE</string>
		<string>AA0CDF79-04EA-4649-A419-264BC64AFF60</string>
		<string>9A1EA8D8-376F-4226-A4FA-770995B40A39</string>
		<string>1C84CF0A-C61F-48CA-8650-52F8D6AE81AE</string>
		<string>EB0B5E24-8339-4217-974B-5D16F596AC39</string>
		<string>FCAD4DAE-1CFA-421B-9510-53AE8C0811F6</string>
		<string>4629D459-7216-40D1-B849-04A25F65D741</string>
		<string>3D4BFF78-AF7D-4E17-988D-873F116C0BD5</string>
		<string>37F6E911-70DB-44A2-9CBB-06C60C24053F</string>
		<string>43CF938C-4B5F-4B8F-8D51-135121AE6DBC</string>
		<string>EFA53D15-0288-4C48-9357-1BFDE34BE1C0</string>
		<string>57FB402C-5201-47C3-B564-57BEFD39D734</string>
		<string>8F9BC365-E3EA-4AB7-A552-A74E24B096DA</string>
		<string>EA109D91-4C2A-48E0-AFB2-B6A38A969326</string>
		<string>6641C4F0-22FD-409D-9A37-DEC600FB258A</string>
		<string>232AB828-1918-4F48-B525-8EEE77B61F12</string>
		<string>D7D81ACC-0623-49B6-87A7-5895C216F576</string>
		<string>A1174D60-F752-43B9-89FC-D0A0224A8BF5</string>
		<string>E9FC2A41-39AD-4EE9-8C26-91ADBFE7551F</string>
		<string>C1922D29-1DE2-4D7D-8125-C43FAC1C8864</string>
		<string>940BF8A0-43CD-413A-89D8-8973CB20A598</string>
		<string>14318A9D-41CD-467F-9979-CD8FEACE68C8</string>
		<string>18E0385F-02E7-4DAC-8409-065DAE3348F1</string>
	</array>
	<key>uuid</key>
	<string>9C7114CE-F660-4A3B-A3A0-7FA004A333C7</string>
</dict>
</plist>
