<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>3FC52319-E52B-4F84-8310-2F383B56C706</string>
			<string>DB309C91-1405-4357-942C-CE2F599896A9</string>
			<string>BAFCE7D5-31DC-4A99-A597-C4DF3DE20080</string>
			<string>A30CD259-3561-4479-A2A9-93ACBEDEB488</string>
			<string>------------------------------------</string>
			<string>CB013FCC-9FD1-4ECD-806D-E0504BD409A1</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>3FC52319-E52B-4F84-8310-2F383B56C706</key>
			<dict>
				<key>items</key>
				<array>
					<string>3AB86478-AAE6-4139-BCB5-A17F247E60FB</string>
					<string>C0FAC80C-4663-451B-AEAC-D74BEB140697</string>
				</array>
				<key>name</key>
				<string>Links</string>
			</dict>
			<key>5513CD28-4D22-4800-B0C7-E285345CF2F1</key>
			<dict>
				<key>items</key>
				<array>
					<string>66722206-124A-41FF-BABC-D2B1F24A2165</string>
					<string>CDB6FB9C-C0B5-46A2-8A5C-EADF5145D48D</string>
					<string>F8ACDE30-B6B6-4CFA-89DC-20C1FE92F9C5</string>
					<string>FB317C34-75BC-451F-ADB6-85562BB54366</string>
				</array>
				<key>name</key>
				<string>Cycle</string>
			</dict>
			<key>A30CD259-3561-4479-A2A9-93ACBEDEB488</key>
			<dict>
				<key>items</key>
				<array>
					<string>FA4531C0-B7A5-48FE-BE13-0EEDFD263644</string>
				</array>
				<key>name</key>
				<string>Click</string>
			</dict>
			<key>BAFCE7D5-31DC-4A99-A597-C4DF3DE20080</key>
			<dict>
				<key>items</key>
				<array/>
				<key>name</key>
				<string>Forms</string>
			</dict>
			<key>CB013FCC-9FD1-4ECD-806D-E0504BD409A1</key>
			<dict>
				<key>items</key>
				<array>
					<string>5513CD28-4D22-4800-B0C7-E285345CF2F1</string>
				</array>
				<key>name</key>
				<string>Plugins</string>
			</dict>
			<key>DB309C91-1405-4357-942C-CE2F599896A9</key>
			<dict>
				<key>items</key>
				<array>
					<string>81640C08-EE95-4178-9148-1B2B20C9C947</string>
					<string>631D07D7-4960-4041-B266-A7B79CEF2C24</string>
					<string>------------------------------------</string>
					<string>1BEA3F08-65C9-4BCE-8369-2F6E6F550538</string>
				</array>
				<key>name</key>
				<string>Browsers</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string> Alt JavaScript-JQuery-Snippets-Core</string>
	<key>ordering</key>
	<array>
		<string>3AB86478-AAE6-4139-BCB5-A17F247E60FB</string>
		<string>C0FAC80C-4663-451B-AEAC-D74BEB140697</string>
		<string>1BEA3F08-65C9-4BCE-8369-2F6E6F550538</string>
		<string>81640C08-EE95-4178-9148-1B2B20C9C947</string>
		<string>631D07D7-4960-4041-B266-A7B79CEF2C24</string>
		<string>FA4531C0-B7A5-48FE-BE13-0EEDFD263644</string>
		<string>F8ACDE30-B6B6-4CFA-89DC-20C1FE92F9C5</string>
		<string>FB317C34-75BC-451F-ADB6-85562BB54366</string>
		<string>CDB6FB9C-C0B5-46A2-8A5C-EADF5145D48D</string>
		<string>66722206-124A-41FF-BABC-D2B1F24A2165</string>
		<string>61EDC93F-E76B-403E-9885-BA4B8E95A81D</string>
		<string>DAC4EA24-D346-422E-B580-59ACD17A6C63</string>
		<string>253D46AC-F773-4D1B-A0B5-7BD69A0CD782</string>
		<string>14645AE3-5230-4DE9-BEBC-D29730AE2E00</string>
	</array>
	<key>uuid</key>
	<string>37424D9F-F473-456D-8C57-2A3475E07AEF</string>
</dict>
</plist>
