<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>puevf@pwnpx.pbz</string>
	<key>contactName</key>
	<string>Chris Thomas</string>
	<key>deleted</key>
	<array>
		<string>BAFE4C4F-8D59-48CD-A3BC-52A2084531C9</string>
	</array>
	<key>description</key>
	<string>Miscellaneous support for working with &lt;a href="http://www.regular-expressions.info/"&gt;regular expressions&lt;/a&gt;.</string>
	<key>name</key>
	<string> Alt RegularExpressions</string>
	<key>ordering</key>
	<array>
		<string>1E701914-81C8-4264-B48F-A5C7B5501DB4</string>
		<string>582AB84E-F1CC-4D92-AF3F-23B54BCB960C</string>
	</array>
	<key>uuid</key>
	<string>DA8BA021-F1DB-4465-A157-292A72097530</string>
</dict>
</plist>
