<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>${TM_NEW_FILE_BASENAME}</title>
    
    <meta name="description" content="__DESCRIPTION__">
    <meta name="keywords" content="__KEYWORDS__">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="author" content="kematzy">
    <meta name="Copyright" content="(c) ${TM_YEAR} Copyright content: __CLIENT_NAME__; Copyright design: kematzy.com">
    <!-- (c) ${TM_YEAR} Copyright content: __CLIENT_NAME__; Copyright design: kematzy.com All Rights Reserved. -->
    
    <link href="/stylesheets/blueprint/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/stylesheets/blueprint/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <script src="/javascript/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/application.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
    
  <body id="">
    
    <!-- div.container -->
    <div class="container showgrid-">
      
      <!-- div#header -->
      <div id="header">
        <h1>__PAGE_TITLE__</h1>
      </div>
      <!-- /div#header -->
      
      <!-- div#main-content -->
      <div id="main-content">
        
        <h2>${TM_NEW_FILE_BASENAME}</h2>
        
        <!-- main page content goes here -->
      </div>
      <!-- /div#main-content -->
      
      <!-- div#footer -->
      <div id="footer">
        <p>&copy; __CLIENT_NAME__ ${TM_YEAR}</p>
      </div>
      <!-- /div#footer -->
      
    </div>
    <!-- /div.container -->
    
    <!-- p#credit -->
    <p id="credit">
      &copy; ${TM_YEAR} __CLIENT_NAME__
      <br>
      <a href="http://kematzy.com/" title="designed and developed by kematzy.com" rel="external" onclick="this.target='_blank'">developed by <strong>kematzy</strong></a>
    </p>
    <!-- /p#credit -->
    
  </body>
</html>