<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_DATE=`date +%Y-%m-%d` \
   TM_YEAR=`date +%Y` \
   TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; index.html &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML — 4.01 Strict</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>E9E33043-326E-4A49-BF42-87A28829414B</string>
</dict>
</plist>
