<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zfurrgf@juvgrsnyyf.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>deleted</key>
	<array>
		<string>58434A58-85E8-11D9-9CD0-000D93B3A10E</string>
		<string>15D9BCDD-1140-49B1-A054-5D9D57DC29A4</string>
		<string>B6E4F67F-D9E2-4866-A958-A96C063549DB</string>
		<string>D548EAB4-08E6-449B-89DF-CE8BAAEF7BBA</string>
		<string>70F80DF8-3FFE-46E3-A1A7-5E480E2623BD</string>
		<string>AC737304-8B70-49F4-9442-AB824D8D911C</string>
		<string>6A1D4980-B41C-11D9-95E7-000D93B6E43C</string>
		<string>485F0ABF-7A7D-4432-8AB6-702414D6ADBD</string>
		<string>4AB16529-60A5-4CE7-8E97-B0785CAF87C4</string>
	</array>
	<key>description</key>
	<string>&lt;a href="http://daringfireball.net/projects/markdown/"&gt;Markdown&lt;/a&gt; allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML. This bundle provides preview functionality, syntax highlighting, and several useful commands.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>5B1D03DE-FA1E-4E04-A885-4DAEBD7AC872</string>
			<string>AFEBA6D6-B844-4C9A-98F0-8690298E69B5</string>
			<string>49687994-2C01-480F-805A-F0294C0D3576</string>
			<string>------------------------------------</string>
			<string>49B1C71D-A748-4F99-9503-95444E8FF7BE</string>
			<string>------------------------------------</string>
			<string>914B78B7-3C9E-4630-8BFC-665A358FB49B</string>
			<string>------------------------------------</string>
			<string>A6E74A5E-FFE9-43FA-8936-970F3CE47DCB</string>
			<string>350477DF-B66B-49E8-8A31-CF26C2AD745D</string>
			<string>------------------------------------</string>
			<string>7BEA4EB2-376F-42C1-AB80-582296D888C4</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>350477DF-B66B-49E8-8A31-CF26C2AD745D</key>
			<dict>
				<key>items</key>
				<array>
					<string>1BD828A9-B6DD-46D8-8519-D9E16E1F8607</string>
					<string>6AEF0032-87F7-483F-A5D6-D3E03F0AFB2E</string>
					<string>------------------------------------</string>
					<string>FFA3536D-67AD-44DC-B989-9722227B5BDC</string>
					<string>24106867-A18E-463E-8431-DC0A304D61EC</string>
					<string>------------------------------------</string>
					<string>1AB64443-4DCE-4DC8-A26D-B90C1CC72833</string>
					<string>175F3AC5-4AD8-4C70-92B7-433AA6395FFA</string>
				</array>
				<key>name</key>
				<string>Lists</string>
			</dict>
			<key>49B1C71D-A748-4F99-9503-95444E8FF7BE</key>
			<dict>
				<key>items</key>
				<array>
					<string>0C3C1C7C-DEB5-481E-AF36-A605FF5F30C6</string>
					<string>6735450F-EE9F-4DB4-A60E-4BF58F4B1E8E</string>
					<string>------------------------------------</string>
					<string>3F7EB7B3-7EC1-47B3-91EB-997EAD09E016</string>
					<string>956D7A5F-F354-4476-BFCD-ACABB0A36267</string>
					<string>DCFBDD8A-6B3E-4EB5-8E49-181CE29C94D3</string>
					<string>5A34133B-7F51-448D-8EAF-1D59B1512A80</string>
					<string>00169D48-8D07-4AB7-9A21-1EAAF7B369F3</string>
				</array>
				<key>name</key>
				<string>MultiMarkdown</string>
			</dict>
			<key>914B78B7-3C9E-4630-8BFC-665A358FB49B</key>
			<dict>
				<key>items</key>
				<array>
					<string>71D85F2A-5F1A-4DBC-B2C7-FDD78E4F4DA1</string>
					<string>585C781A-83D3-4989-93A7-FBF6442A91CD</string>
				</array>
				<key>name</key>
				<string>Format</string>
			</dict>
			<key>A6E74A5E-FFE9-43FA-8936-970F3CE47DCB</key>
			<dict>
				<key>items</key>
				<array>
					<string>8D80AB5F-4D5D-47B6-B862-5A4778EB37B8</string>
					<string>3FDD7B0E-0953-463D-9564-6F4E35E3F445</string>
				</array>
				<key>name</key>
				<string>Headings</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string> Alt Markdown</string>
	<key>ordering</key>
	<array>
		<string>5B1D03DE-FA1E-4E04-A885-4DAEBD7AC872</string>
		<string>AFEBA6D6-B844-4C9A-98F0-8690298E69B5</string>
		<string>49687994-2C01-480F-805A-F0294C0D3576</string>
		<string>8D80AB5F-4D5D-47B6-B862-5A4778EB37B8</string>
		<string>3FDD7B0E-0953-463D-9564-6F4E35E3F445</string>
		<string>3F7EB7B3-7EC1-47B3-91EB-997EAD09E016</string>
		<string>956D7A5F-F354-4476-BFCD-ACABB0A36267</string>
		<string>DCFBDD8A-6B3E-4EB5-8E49-181CE29C94D3</string>
		<string>5A34133B-7F51-448D-8EAF-1D59B1512A80</string>
		<string>00169D48-8D07-4AB7-9A21-1EAAF7B369F3</string>
		<string>6735450F-EE9F-4DB4-A60E-4BF58F4B1E8E</string>
		<string>0C3C1C7C-DEB5-481E-AF36-A605FF5F30C6</string>
		<string>1BD828A9-B6DD-46D8-8519-D9E16E1F8607</string>
		<string>6AEF0032-87F7-483F-A5D6-D3E03F0AFB2E</string>
		<string>24106867-A18E-463E-8431-DC0A304D61EC</string>
		<string>FFA3536D-67AD-44DC-B989-9722227B5BDC</string>
		<string>1AB64443-4DCE-4DC8-A26D-B90C1CC72833</string>
		<string>175F3AC5-4AD8-4C70-92B7-433AA6395FFA</string>
		<string>71D85F2A-5F1A-4DBC-B2C7-FDD78E4F4DA1</string>
		<string>585C781A-83D3-4989-93A7-FBF6442A91CD</string>
		<string>6183BDCA-0A62-401C-A966-C4BA60148364</string>
		<string>2FBB061F-F39F-4DDB-9E6E-75432422F7A9</string>
		<string>7BEA4EB2-376F-42C1-AB80-582296D888C4</string>
		<string>915E645D-CC37-4ECD-B758-759EAC076859</string>
		<string>48299B7C-0CBF-456E-ABF7-697630B914E9</string>
		<string>936FF2E8-B944-4A9C-B01D-13DCEF1A1899</string>
		<string>DEE68111-791F-47EE-B32E-ACB06C3132B7</string>
		<string>9682625A-74EE-4486-B584-DCB2FCA5440D</string>
		<string>6FF168A4-0763-466C-9A8D-B00FA82F821E</string>
		<string>5A8983CA-CD4D-46B5-9ADC-B22FA1529F54</string>
		<string>F878D261-A73A-4A65-875C-F0E07E2C8181</string>
	</array>
	<key>uuid</key>
	<string>F6B24BBF-5AF4-456B-83E3-ED1507964876</string>
</dict>
</plist>
