<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>   Commands</string>
	<key>ordering</key>
	<array>
		<string>7C143526-D838-4409-A41C-1621187F7F57</string>
		<string>44A46708-93CF-402C-9803-1A3EC2E748DC</string>
	</array>
	<key>uuid</key>
	<string>82A393C2-7229-4187-8018-6F4C32AE8CD2</string>
</dict>
</plist>
